/* main background */
body {background-image: url(images/WhiteBG.jpg);background-attachment: fixed;}

/* Title Page */
#titleMain {
    font-size: 200px;
}
#GetStarted:hover {background-color: #606b76;}
#GetStarted {
    background-color: #22262a;
    color: white;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}
#StartButton {margin-top:20px;}

/* class dimensions page setup */
.CLASSROW {height: 23.75%;}
.CLASSCONTAINER, #plan {height:900px;}
.desk {
    height: 100%;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 10px;
}
#DimDescription {margin-top:20px;}

/*Initial visibility of elements for first page*/
#titleOverall {display: block;}
#dimensions {display: none;}
#NameList {display: none;}

/*Initial visibiliy of elements for second page*/
#InfoTitle {display:block;}
#NextButton {display:block;height:40px;width:80px;}
#compTables {display:block;}
.FrontDesc {display:none;opacity:0;}
#SecondNextButton {height:40px;width:80px;}
#FinalTable {display:none;opacity:0;}
#LoadingScreen {display:none;opacity:0;}
#plan {display:none;}
#PlanTables {display:none;}
#ResetButtons {display:none;}
#RemovedPairsDesc {display:none;}

/* Green&Red "+" buttons above comp/incomp tables */
#redPlusButton {color: crimson;border: 2px solid crimson;height: 35px;}
#redPlusButton:hover {background-color: #f38399}
#greenPlusButton {color: forestgreen;border: 2px solid forestgreen;height: 35px;}
#greenPlusButton:hover {background-color: #77dd77}
#redPlusButton:focus, #redPlusButton:active, #greenPlusButton:focus, #redPlusButton:active, .help:focus, .help:active {outline: none !important;box-shadow: none !important;}

/* incomp/comp studetn selection area */
.student {
    height: 50px;
    margin: 5px;
    width: 20%;
    background-color: rgb(173, 216, 230);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0;
}

#StudentSelection {
    border: 2px solid crimson;
    border-radius: 10px;
    background-color: rgba(220, 20, 60, 0.1)
}

.tables {margin-top:35px;}

/* info buttons CHANGE NEXT TO NONE */
.help {background-color: rgb(173, 216, 230);width:60px;height:55px;border-radius: 50%;}
.help:hover {background-color: yellow;}

/* size modifications for smaller viewports */
@media (max-width: 1700px) {
    .CLASSCONTAINER, #plan {height:800px;}
}

@media (max-width: 1200px) {
    #titleMain {font-size: 180px;}
    #GetStarted {
        width: 130px;
        height: 43px;
        font-size: 15px;
    }
    #StartButton {margin-top:20px;}
}

@media (max-width: 1000px) {
    .CLASSCONTAINER, #plan {height:650px;}
    .student {height: 40px;margin: 5px;}
    #titleMain {font-size: 140px;}
    #GetStarted {
        width: 110px;
        height: 36px;
        font-size: 12px;
    }
    #StartButton {margin-top:15px;}
}

@media (max-width: 850px) {
    #titleMain {font-size: 100px;}
    #StartButton {margin-top:10px;}
}

@media (max-width: 700px) {
    .CLASSCONTAINER, #plan {height:500px;}
    .bi-emoji-smile {font-size: 20px;}
    .student {height: 30px; width: 100px;margin: 5px;}
}

@media (max-width: 500px) {
    .bi-emoji-smile {font-size: 15px;}
    #titleMain {font-size: 80px}
    #StartButton {margin-top:5px;}
    #DimDescription {margin-top:50px;}
}

/* Imported fonts */
@font-face {font-family: "mario";src: url(fonts/SuperMario256.ttf);}

/* Student Selection Box Animation */
@keyframes topSlide {
    from {margin-top: 265px;}
    to {margin-top: 25px;background-color:rgba(255, 222, 173, 0.5);border: 2px solid rgba(255, 222, 173, 1.0);}
}

/* Fronts FADE IN animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Fronts FADE OUT animation */
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}