{% extends "layout.html" %}

{% block content %}

  <div class="container p-5 my-2 text-center">
    <div class="row">
      <h1 class="display-1 fw-bold">Seating50</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <p class="fs-5">
          Seating50 was created for teachers who seek tranquility and synergy in the classroom.
          Some will collaborate effectively, while others will create chaos. Order is key, and
          you'll find it here.
        </p>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-2">
        <form action="/" method="post">
          <button type="submit" class="btn btn-dark btn-lg">Get Started</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}