{% extends "layout.html" %}


{% block content %}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-sm-10 col-lg-6">
        <h1 class="display-4">Student Names</h1>
        <p class="fw-light fs-5">
          In this textarea below, input the names of all students in your classroom. Try to separate
          name with commas, space, or ENTER. Avoid duplicates by using dot notation. (Ie: "Logan Joslin"
          -> "Logan.J")
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-1">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <form class="d-flex flex-column align-items-center" action="/selection" method="post">
          <textarea name="Names" id="nameList" style="height:500px;resize:none;" autofocus autocomplete="off" class="form-control"></textarea>
          <button type="submit" style="width:100px;" class="btn btn-dark rounded mt-3">Next</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}