{% extends "layout.html" %}


{% block content %}

<div>
  {% for key, value in Ass.items() %}

    {{ key }}: {{ value }}

  {% endfor %}
</div>


{% endblock %}

Compatible: [['Brady', 'Gavin'], ['Colton', 'Zach'], ['Quinn', 'Zach']]
Incompatible: [['Ryder', 'Yianni'], ['Josh', 'Evan'], ['Seb', 'Tryson'], ['Manav', 'Easton'], ['Joven', 'Nick'], ['Matthew', 'Ethan'], ['Adie', 'Silas'], ['Easton', 'Adie']]
Highly Incompatible: [['Adie', 'Silas'], ['Easton', 'Adie']]
Fronts: ['Tryson', 'Silas', 'Jack']