{% extends "layout.html" %}


{% block content %}

<div class="container-xxl mt-3 CLASSCONTAINER">
    <div class="row text-center mb-3 mb-md-0 p-0" style="height:5%;">
      <h3 class="display-6"><i class="bi bi-arrow-up"></i>&nbsp;FRONT&nbsp;<i class="bi bi-arrow-up"></i><h3>
    </div>
    <div class="row CLASSROW">
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
    </div>
    <div class="row CLASSROW">
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
    </div>
    <div class="row CLASSROW">
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
    </div>
    <div class="row CLASSROW">
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-2 p-lg-4">
        <div class="desk d-flex justify-content-center align-items-center">
          <i class="bi bi-emoji-smile h1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl mt-3">
    <div class="row">
      <div class="col-7">
        <h1 class="display-5">Classroom Style</h1>
        <p class="fw-light fs-5">
          To begin, select the dimensions of your classroom and toggle Partner Mode as needed. 
          Ensure that you have enough seats for all your students!
        </p>
        <form action="/sizing" onsubmit="get_dimensions()" method="post">
          <button type="submit" class="btn btn-dark btn-lg">Next</button>
          <input type="hidden" id="submitWidth" name="width" value="4">
          <input type="hidden" id="submitHeight" name="height" value="4">
        </form>
      </div>
      <div class="col-2 offset-3 d-flex flex-column justify-content-md-end">
        <div class="my-1 d-flex justify-content-end">
          <h4>Partnered?&nbsp;&nbsp;</h4>
          <div class="form-check form-switch d-flex justify-content-center pt-1">
            <input onclick="toggle_partners()" class="form-check-input" type="checkbox">
          </div>
        </div>
        <div class="my-1 d-flex justify-content-end">
          <h4>Height:&nbsp;</h4>
          <button onclick="decrease_height()" class="btn btn-dark px-2 py-1 mx-1"><i class="bi bi-dash"></i></button>
          <button onclick="increase_height()" class="btn btn-dark px-2 py-1"><i class="bi bi-plus-lg"></i></button>
        </div>
        <div class="my-1 d-flex justify-content-end">
          <h4>Width:&nbsp;&nbsp;</h4>
          <button onclick="decrease_width()" class="btn btn-dark px-2 py-1 mx-1"><i class="bi bi-dash"></i></button>
          <button onclick="increase_width()" class="btn btn-dark px-2 py-1"><i class="bi bi-plus-lg"></i></button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}