<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Seating Plan</title>
    <script src="../static/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!-- Add a favicon -->
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">
          <span class="fw-bold text-secondary">Seating50</span>
        </a>
        <!-- toggler for smaller viewport -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation"></button>
        <!-- links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
                <a href="#details" class="nav-link">More Details</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#future" class="nav-link">Future Updates</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#" class="nav-link">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-xxl mt-3 CLASSCONTAINER">
      <div class="row text-center p-0" style="height:5%;">
        <h3 class="display-6"><i class="bi bi-arrow-up"></i>&nbsp;FRONT&nbsp;<i class="bi bi-arrow-up"></i><h3>
      </div>
      <div class="row CLASSROW">
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
      </div>
      <div class="row CLASSROW">
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
      </div>
      <div class="row CLASSROW">
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
      </div>
      <div class="row CLASSROW">
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
          <div class="desk d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile h1"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="container-xxl">
      <div class="row">
        <div class="col-7">
          <h1 class="display-5">What's the plan?</h1>
          <p class="fw-light fs-5">
            To begin, select the dimensions of your classroom and toggle Partner Mode as needed. 
            Ensure that you have enough seats for all your students!
          </p>
          <form action="">
            <button type="submit" class="btn btn-dark btn-lg">Next</button>
          </form>
        </div>
        <div class="col-2 offset-3 d-flex flex-column justify-content-end">
          <div class="my-1 d-flex justify-content-end">
            <h4>Partnered?&nbsp;&nbsp;</h4>
            <div class="form-check form-switch d-flex justify-content-center pt-1">
              <input onclick="toggle_partners()" class="form-check-input" type="checkbox">
            </div>
          </div>
          <div class="my-1 d-flex justify-content-end">
            <h4>Height:&nbsp;</h4>
            <button onclick="decrease_height()" class="btn btn-dark px-2 py-1 mx-1"><i class="bi bi-dash"></i></button>
            <button onclick="increase_height()" class="btn btn-dark px-2 py-1"><i class="bi bi-plus-lg"></i></button>
          </div>
          <div class="my-1 d-flex justify-content-end">
            <h4>Width:&nbsp;&nbsp;</h4>
            <button onclick="decrease_width()" class="btn btn-dark px-2 py-1 mx-1"><i class="bi bi-dash"></i></button>
            <button onclick="increase_width()" class="btn btn-dark px-2 py-1"><i class="bi bi-plus-lg"></i></button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>


