<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Seating Plan</title>
    <script src="../static/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!-- Add a favicon -->
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <span class="fw-bold text-secondary">Seating50</span>
        </a>
        <!-- toggler for smaller viewport -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation"></button>
        <!-- links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
                <a href="#details" class="nav-link">More Details</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#future" class="nav-link">Future Updates</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#" class="nav-link">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!--Title containing info buttons-->
    <div id="InfoTitle">
        <div style="background-color:rgba(173, 216, 230, 0.5);" class="d-flex border justify-content-center align-items-center p-4 my-5">
            <button type='button' class="fs-5 btn m-0 pt-1 help d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#help">
            <i style="font-size:60px;" class="bi bi-info-circle m-0 p-0"></i>
             </button>
            <h1 class="display-1 text-center mx-0 mx-sm-3" >Feed the Algorithm!</h1>
            <button type='button' class="fs-5 btn m-0 pt-1 help d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#help">
            <i style="font-size:60px;" class="bi bi-info-circle m-0 p-0"></i>
            </button>
        </div>
    </div>
        
    <!--Student Selection Area-->
    <div class="container-lg">
        <div id="StudentSelectionRow" class="row">
            <div class="col-12 mt-0 mt-md-4">
                <div id="StudentSelection" class="container-fluid p-3 d-flex justify-content-around flex-wrap">
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">Jon</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">John</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">Logan</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">CodyCo</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">Michael</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">Michaels</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center fs-3">Michaelso</div>
                    <div style='cursor:pointer;user-select:none;' class="student rounded-pill d-flex justify-content-center align-items-center">Michaelson</div>
                    <div style='cursor:pointer;user-select:none;' class="student SHORT rounded-pill d-flex justify-content-center align-items-center">WWWW</div>
                    <div style='cursor:pointer;user-select:none;' class="student MEDIUM rounded-pill d-flex justify-content-center align-items-center">WWWWWWW</div>
                    <div style='cursor:pointer;user-select:none;' class="student LONG rounded-pill d-flex justify-content-center align-items-center">WWWWWWWWWW</div>
                </div>
            </div>
        </div>

        <!--GREEN/RED tables-->
        <div id="compTables">
            <div class="tables row justify-content-around mb-5">
                <div class="col-6 col-md-5">
                    <div class="d-flex mx-4 flex-column">
                        <div class="d-flex justify-content-center align-items-center mb-1">
                            <h5 id="RedTableTitle" style="color:crimson;" class="mt-1 fw-bold fs-5 text-end">Incompatible Students</h5>
                            <button onclick="bg_red()" id="redPlusButton" class="btn p-0 px-1 mx-2">
                            <i class="h4 bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table style='cursor:default;user-select:none;' class="table table-hover text-center">
                                <tbody id="redTable" style="border-top:2px solid crimson">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <div class="col-6 col-md-5">
                    <div class="d-flex mx-4 flex-column">
                        <div class="d-flex justify-content-center align-items-center mb-1">
                            <button onclick="bg_green()" id="greenPlusButton" class="btn p-0 px-1 mx-2">
                            <i class="h4 bi bi-plus-lg"></i>
                            </button>
                            <h5 id="GreenTableTitle" style="color:forestgreen;" class="mt-1 fw-bold fs-5 text-start">Compatible Students</h5>
                        </div>
                        <div class="table-responsive">
                            <table style='cursor:default;user-select:none;' class="table table-hover text-center">
                                <tbody id="greenTable" style="border-top:2px solid forestgreen">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





  </body>
</html>